h1, h2 {
  text-align: center;
}
.tile {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  position: absolute;
}

.castle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
}

.house {
  background-color: #f06;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
}

.active {
  opacity: 0.0;
  transition: 500;
  -webkit-transition: 500;
}
.active:hover {
  opacity: 1;
  transition: 500;
  -webkit-transition: 500;
}

#world {
  margin: 0 auto;
  width: 384px; /* Number of tiles in width * 32 */
  /*border: 1px solid red;*/
  position: relative;
}
.castle.black {
  background-color: black;
}
.castle.blue {
   background-color: blue;
}
.castle.gold {
   background-color: blue;
} 
.castle.green {
   background-color: blue;
}
.castle.maroon {
   background-color: blue;
}
.castle.orange {
   background-color: blue;
} 
.castle.red {
   background-color: blue;
}
.castle.silver {
   background-color: blue;
}
.territory.black {
  background-color: rgba(0,0,0,0.40);
}
.territory.blue {
  background-color: rgba(0,0,255,0.20);
}
.territory.gold {
  background-color: rgba(255,215,0,0.20);
}
.territory.green {
  background-color: rgba(0,255,0,0.20);
}
.territory.maroon {
  background-color: rgba(128,0,0,0.20);
}
.territory.orange {
  background-color: rgba(255,165,0,0.20);
}
.territory.red {
  background-color: rgba(255,0,0,0.20);
}
.territory.silver {
  background-color: rgba(192,192,192,0.40);
}